<!DOCTYPE html>
<html lang="eng">
<head>
	<meta charset="UTF-8">
	<title>Preview - Bozo Lovely Cosmetics HTML Template</title>
	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/myresponsee.css">
	<link rel="stylesheet" href="css/style.css">
	<!--Favicon-->
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <!-- Responsive -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/responsive.css" rel="stylesheet">
	<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
	<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>
  
<body class="size-1140">



<!-- use this --> 
<div class="line">
	<div class="margin">
		<!-- block -->
		<div class="fullwidth">
			<h1>Full Width</h1>
			<hr class="break-small">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tempus quis eros ut aliquam. Aliquam suscipit vehicula neque, posuere rutrum libero venenatis vel. Vivamus maximus sollicitudin tempor. Sed nec sapien a lectus pretium dignissim dolor sit amet, consectetur adipiscing elit. Phasellus tempus quis eros ut aliquam. Aliquam suscipit vehicula neque, posuere rutrum libero venenatis vel. Vivamus maximus sollicitudin tempor. Sed nec sapien a lectus pretium dignissim dolor sit amet, consectetur adipiscing elit. Phasellus tempus quis eros ut aliquam. Aliquam suscipit vehicula neque, posuere rutrum libero venenatis vel. Vivamus maximus sollicitudin tempor. Sed nec sapien a lectus pretium dignissim.</p>
		</div>
	</div>
</div>
<!-- use this -->



<!-- jQuery Files -->
<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="owl-carousel/owl.carousel.js"></script>
<script type="text/javascript" src="js/custom.js"></script>

</body>
</html>