<!DOCTYPE html>
<html lang="eng">
<head>
	<meta charset="UTF-8">
	<title>Preview - Bozo Lovely Cosmetics HTML Template</title>
	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/myresponsee.css">
	<link rel="stylesheet" href="css/style.css">
	<!--Favicon-->
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <!-- Responsive -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/responsive.css" rel="stylesheet">
	<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
	<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>
  
<body class="size-1140">



<!-- use this -->
<div class="line">

	<!-- blog post 1 -->
	<div class="fullwidth margin-m-bottom-60">
	  <div class="s-12 m-4 l-6 hide-s">
		<!-- hide in small screens -->
		<a class="image-hover-zoom" href=""><img src="img/blog/1.jpg" alt="" class="fullwidth"></a>
	  </div>
	  <div class="s-12 m-8 l-6">
		<div class="item-left">
		  <div class="fullwidth hide-l hide-m">
		  <!-- hide in large and medium screens -->
		  <a href=""><img src="img/blog/1.jpg" alt="" class="fullwidth"></a>
		  </div>
		  <h2 class="text-primary">Lorem ipsum dolor sit amet consec elit nunc</h2>
		  <p class="margin-bottom-30">Lorem ipsum dolor sit amet consectetur adipiscing elit nunc faucibus aliquet quam vel pellentesque curabitur quis risus id tellus pharetra lobortis. Sed dignissim quam et dictum congue erat orci.</p>
		  <a href="" class="button">Read More</a>
		</div>
	  </div>
	</div>

	<!-- blog post 2 -->
	<div class="fullwidth margin-m-bottom-60">
	  <div class="s-12 m-8 l-6">
		<div class="item-right">
		  <div class="fullwidth hide-l hide-m">
		  <!-- hide in large and medium screens -->
		  <a href=""><img src="img/blog/2.jpg" alt="" class="fullwidth"></a>
		  </div>
		  <h2 class="text-primary">Lorem ipsum dolor sit amet consec elit nunc</h2>
		  <p class="margin-bottom-30">Lorem ipsum dolor sit amet consectetur adipiscing elit nunc faucibus aliquet quam vel pellentesque curabitur quis risus id tellus pharetra lobortis. Sed dignissim quam et dictum congue erat orci.</p>
		  <a href="" class="button">Read More</a>
		</div>
	  </div>
	  <div class="s-12 m-4 l-6 hide-s">
		<!-- hide in small screens -->
		<a class="image-hover-zoom" href=""><img src="img/blog/2.jpg" alt="" class="fullwidth"></a>
	  </div>
	</div>
	
</div>
<!-- use this -->



<!-- jQuery Files -->
<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="owl-carousel/owl.carousel.js"></script>
<script type="text/javascript" src="js/custom.js"></script>

</body>
</html>