<!DOCTYPE html>
<html lang="eng">
<head>
	<meta charset="UTF-8">
	<title>Preview - Bozo Lovely Cosmetics HTML Template</title>
	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/myresponsee.css">
	<link rel="stylesheet" href="css/style.css">
	<!--Favicon-->
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <!-- Responsive -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/responsive.css" rel="stylesheet">
	<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
	<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body class="size-1140">



<!-- SLIDESHOW START -->
<div class="carousel-fade-transition owl-carousel carousel-main">
	<!-- slide 1 -->
	<div class="item">
	    <!-- slideshow photo -->
		<div class="image-box">
			<div class="image">
				<img src="img/slideshow/slide1.jpg" alt="">
			</div>
		</div>
		<!-- slideshow content -->
		<div class="carousel-content">
			<div class="content-center-vertical line">
				<div class="s-12 m-8 l-7">
					<h1 class="margin-bottom-10 animated-carousel-element">We Believe Makeup is Power Never DIM Your Light</h1>
					<p class="margin-bottom-30 animated-carousel-element slow">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis eum iriure dolor in hendrerit in vulputate.</p>
					<div class="animated-carousel-element">
						<a href="" class="slideshow-btn">Shop Now</a><a href="" class="slideshow-btn2">More Detail</a>
					</div>
				</div>                 
			</div>
		</div>
	</div>
	
	<!-- slide 2 -->
	<div class="item">
	    <!-- slideshow photo -->
	    <div class="image-box">
			<div class="image">
				<img src="img/slideshow/slide1.jpg" alt="">
			</div>
		</div>
		<!-- slideshow content -->
		<div class="carousel-content">
			<div class="content-center-vertical line">
				<div class="s-12 m-8 l-7">
					<h1 class="margin-bottom-10 animated-carousel-element">We Believe Makeup is Power Never DIM Your Light</h1>
					<p class="margin-bottom-30 animated-carousel-element slow">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis eum iriure dolor in hendrerit in vulputate.</p>
					<div class="animated-carousel-element">
						<a href="" class="slideshow-btn">Shop Now</a><a href="" class="slideshow-btn2">More Detail</a>
					</div>
				</div>                 
			</div>
		</div>
	</div>
</div>
<!-- SLIDESHOW END -->



<!-- jQuery Files -->
<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="owl-carousel/owl.carousel.js"></script>
<script type="text/javascript" src="js/custom.js"></script>

</body>
</html>