<!DOCTYPE html>
<html lang="eng">
<head>
	<meta charset="UTF-8">
	<title>Preview - Bozo Lovely Cosmetics HTML Template</title>
	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/myresponsee.css">
	<link rel="stylesheet" href="css/style.css">
	<!--Favicon-->
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <!-- Responsive -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/responsive.css" rel="stylesheet">
	<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
	<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>
  
<body class="size-1140">



<!-- Use this -->
<div class="line">
	<div class="margin">

		<!-- product 1 -->
		<div class="fullwidth margin-m-bottom-60">
			<div class="s-12 m-4 l-6 hide-s">
				<!-- hide in small screens -->
				<a class="image-hover-zoom" href="product.html"><img src="img/products/1.png" alt="" class="fullwidth border-1"></a>
			</div>
			<div class="s-12 m-8 l-6">
				<div class="item-left">
					<div class="fullwidth hide-l hide-m">
						<!-- hide in large and medium screens -->
						<a href="product.html"><img src="img/products/1.png" alt="" class="fullwidth border-1"></a>
					</div>
					<h2>Lorem Ipsum Dolor Sit</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipiscing elit nunc aliquet quam vel pellentesque quis risus id erat orci.</p>
					<h4 class="margin-bottom-30"><span class="strike">Was $149.00</span><br /><span class="text-primary">Now $130.00</span></h4>
					<a href="" class="button">Buy Now</a>
				</div>
			</div>
		</div>

		<!-- product 2 -->
		<div class="fullwidth margin-m-bottom-60">
			<div class="s-12 m-8 l-6">
				<div class="item-right">
					<div class="fullwidth hide-l hide-m">
						<!-- hide in large and medium screens -->
						<a href="product.html"><img src="img/products/1.png" alt="" class="fullwidth border-1"></a>
					</div>
					<h2>Lorem Ipsum Dolor Sit</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipiscing elit nunc aliquet quam vel pellentesque quis risus id erat orci.</p>
					<h4 class="margin-bottom-30"><span class="strike">Was $149.00</span><br /><span class="text-primary">Now $130.00</span></h4>
					<a href="" class="button">Buy Now</a>
				</div>
			</div>
			<div class="s-12 m-4 l-6 hide-s">
				<!-- hide in small screens -->
				<a class="image-hover-zoom" href="product.html"><img src="img/products/2.png" alt="" class="fullwidth border-1"></a>
			</div>
		</div>
	  
	</div>
</div>
<!-- Use this -->



<!-- jQuery Files -->
<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="owl-carousel/owl.carousel.js"></script>
<script type="text/javascript" src="js/custom.js"></script>

</body>
</html>