<!DOCTYPE html>
<html lang="eng">
<head>
	<meta charset="UTF-8">
	<title>Preview - Bozo Lovely Cosmetics HTML Template</title>
	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/myresponsee.css">
	<link rel="stylesheet" href="css/style.css">
	<!--Favicon-->
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <!-- Responsive -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/responsive.css" rel="stylesheet">
	<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
	<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>
  
<body class="size-1140">



<!-- use this -->
<div class="line">
	<div class="fullwidth">
		<div class="tabs left">
			<div class="tab-item tab-active">
				<a class="tab-label active-btn">Description</a>
				<div class="tab-content padding-left-10">
					<h3>Description</h3>
					<p>Lorem ipsum dolor mollis hendrerit ante, sit amet sollicitudin urna varius in. Vestibulum mattis, lectus in dictum pretium, lacus ex consequat metus, id porttitor felis magna eu justo. Suspendisse dolor lacus, posuere venenatis nunc quis, ornare venenatis est. Suspendisse laoreet erat sit amet sodales semper. Mauris cursus lorem turpis, eget accumsan erat consequat molestie. Donec id nibh accumsan, egestas nulla sed, iaculis mauris.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut interdum scelerisque dolor sit amet porta. Nam est elit, dignissim et suscipit semper, viverra at velit. Fusce suscipit arcu non velit suscipit posuere. Ut mollis hendrerit ante, sit amet sollicitudin urna varius in. Vestibulum mattis, lectus in dictum pretium.</p>
				</div>  
			</div>
			<div class="tab-item">
				<a class="tab-label">Speciality</a>        
				<div class="tab-content padding-left-10">
					<h3>Speciality</h3>
					<p class="margin-bottom">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
					<ul class="speciality padding padding-top-0">
						<li>Lorem ipsum dolor sit amet consectetur</li>
						<li>Ipsum dolor sit amet consectetur</li>
						<li>Lorem ipsum dolor amet consectetur</li>
					</ul>
				</div>  
			</div>
			<div class="tab-item">
				<a class="tab-label">Shipping Charges</a>
				<div class="tab-content padding-left-10">
					<h3>Shipping Charges</h3>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
				</div>  
			</div>
		</div>
	</div>
</div>
<!-- use this -->



<!-- jQuery Files -->
<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="owl-carousel/owl.carousel.js"></script>
<script type="text/javascript" src="js/custom.js"></script>

</body>
</html>